/* Обычный */
@font-face {
    font-family: 'GothaPro'; 
    src: url(../fonts/GothaProReg.otf); 
}

/* Жирный */
@font-face {
    font-family: 'GothaPro bold'; 
    src: url(../fonts/GothaProBol.otf); 

}

* {
    font-family: Roboto !important;
    font-family: 'GothaPro' !important;    
    font-weight: 300;
    font-size: 12px;
}
main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.bg-A1 {
    background: #EFEECC;
}
.bg-A2 {
    background: #E7E5AA;
}
.bg-A3 {
    background: #DEDB7D;
}
.bg-A4 {
    background: #D5D10E;
}
.bg-A5 {
    background: #E1DD01;
}
.bg-B1 {
    background: #E0E8E9;
}
.bg-B2 {
    background: #CEDBDD;
}
.bg-B3 {
    background: #BACCCF;
}
.bg-B4 {
    background: #A2BDC1;
}
.bg-B5 {
    background: #89A8AC;
}
.bg-C1 {
    background: #DEE0E0;
}
.bg-C2 {
    background: #CACDCD;
}
.bg-C3 {
    background: #B4B9B9;
}
.bg-C4 {
    background: #9AA1A1;
}
.bg-C5 {
    background: #888E8E;
}
.bg-D1 {
    background: #CDCFD2;
}
.bg-D2 {
    background: #ADB1B6;
}
.bg-D3 {
    background: #898A92;
}
.bg-D4 {
    background: #7E8088;
}
.bg-D5 {
    background: #717277;
}
.bg-E1 {
    background: #C8C5D2;
}
.bg-E2 {
    background: #BDB9C8;
}
.bg-E3 {
    background: #A7A4B0;
}
.bg-E4 {
    background: #8F8C99;
}
.bg-E5 {
    background: #64616C;
}
.bg-main {
    background: #c3d500;
}
h1 {
    color: #000;
    font-weight: 500;
    font-size: 24px;
}

h5 {
        padding: 5px;
        /*font-family: Roboto;*/
        font-weight: 300;
        font-size: 11px;        
        color: #595959;        

}
.cell-view {    
    h1 {
        text-align: right;
    }
}
.full-content-container {
    width: 100%;
    height: 300px;
    overflow:auto;
    border: #ddd 1px solid;
    border-radius: 5px;
    padding: 10px;    
    scroll-behavior: smooth;
}
.shift-content-header {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
}
.shift-content {
    background-color: #F9F9F9;
    font-size: 11px;
    font-weight: 300;
    padding: 10px;
    margin-bottom: 25px;
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
}
.answer-block {
    background: #eee;
    height: 200px;
}
.cell {        
    width: 70px !important;
    height: 70px;
    border-radius: 8px;
    padding: 10px 0 0 10px;
    color: #000;
    font-size: 12.5px;
    font-weight: 300;
    margin-right: 5px;
    margin-bottom: 6.5px;    
}
.cell:first-child {
    margin-left: auto;
}
.cell:last-child {
    margin-right: auto;
}
.cell-selected {
    border: 1px solid red;
}
.shift-block {
    width: 132px;
    height: 132px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #E4E4E4;
    border-radius:5px;
    
    font-size: 12px;    
    font-weight: 500;
    color: #fff;
    background: #fff url(../images/hidden.png) center center no-repeat;
    
}

.shift-title {
    margin-left: 40px;
    margin-right: 0;
    padding-top: 50px;
    height: 120px;
    width: 20px;
    transform: rotate(-90deg);
    
    text-align: center;
    font-size: 11px;
    color: #595959;
    font-weight: 300;
    text-transform: uppercase;    
}
.arrow {
    position: relative; 
    width: 100%; 
    height: 100%; 
    top: -80%; 
    left:30%; 
    z-index: 1;
}
.arrow-between {
    position: relative;     
    top: 50px;
    left: 90px;
    z-index: 1;
}
.arrow-between img {
    width:100%;
    height:100%;
}
.container-arrow {
    width: 100%;
    text-align: center;
    height: 50px;
}
.arrow-small {
    margin-top: 1px;
    /*height: 90%;    */
}
.arrow-bottom {
    /*transform: rotate(90deg);*/
}
.arrow-top {
    /*transform: rotate(-45deg);*/
    left: -70%;
}
.arrow-right-top {
    /*transform: rotate(-45deg);*/
}
.arrow-right {
    /*transform: rotate(-45deg);*/
    top: 20%;
}

#map-progress {
    width: 100%;
    margin: 15px 0;
    height: 50px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.cell-button {
    display: inline-block;
    margin: auto;
    width: 10%;
    height: 90%;
    background: #ddd;
    padding: 10px;
    text-align: center;
    font-size: 16pt;
    box-shadow: 0 0 10px 1px #505;
    border-radius: 2px;
}
#shift-slider-container {
    overflow: auto; 
    width: 100%; 
    margin-top: 20px;
    height: 50px;    
    border-radius: 6px;
}
#shift-arrow-container {    
    width: 100%; 
    margin-left: 120px;
    margin-right: 120px;
    height: 50px;
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
}
.shift-arrow {
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: center;
    position:relative;
    top: 70px;
    color: #fff;
}

#shift-slider {
    margin-left: 15px;
    width: calc(100% - 110px);
    height: 50px;    
}
#shift-slider .slider-track {
    background: none;
    border: none !important;
    box-shadow: none;    
}
#shift-slider .slider-selection {
    background: none;
    border: none !important;
    box-shadow: none;
}
#shift-slider .slider-handle {    
    height: 44px;
    width: 44px;    
    margin-top: -18px;    
    padding: 10px;
    background: conic-gradient(from 45deg, #3432B5, #3432B580);
    
    text-align: center;
    font-size: 16px;
    font-weight: 500;    
    border-radius: 4px;    
    color: #fff;
}

#header-navbar {
    border-radius: 14px;
    background: #4844F8;
}

.nav-item svg {
    font-size: 28px;
}

.breadcrumb {
    background: none;
    padding-bottom: 29px;
    border-bottom: #E3E3E3 1px solid;
    font-size: 11px;
}
.breadcrumb-item {
    color: #000;    
}
.breadcrumb-item a {
    color: #000;
}
.breadcrumb-item.active {
    font-weight: 300;
}
.btn {
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700
}
.btn-info, .btn-info:hover, .btn-info:active {
    background-color: #4844F8;
    border-color: #4844F8;
}

a {
    color: #4844F8;
}

.table-bordered, .table-bordered th, .table-bordered td {
    border: none;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background: none;    
}
.table-striped tbody tr {
    border-bottom: 1px solid #E3E3E3;
}
.form-control {
    border: none;
    background: #F9F9F9;
}
.modal-content {
    border-radius: 6px;
}
button.close {    
    border: 2px solid #4844F8;
    margin-top: 1px !important;
    margin-right: 1px !important;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    padding: 0 !important;
    padding-top: -2px !important;
}
button.close span {
    margin-top: -2px !important;
    font-size: 16px;
    font-weight: bold;
    color: #4844F8 !important;
    text-shadow: none;
}